* {

    bottom: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 600px;
    background-color: beige;
    margin: auto;

}
.container {
    width: 80%;
    height: 50vh;
    padding-top: 50px;
    gap: 35px;
    display: flex;
    flex-direction: column;

}
input {
    height: 60px;
    font-size: 24px;
}
#result {
    border: 1px solid #000;
    height: 50px;
    width: 100px;

}
  